<div class="volunteer-form-container">
  <div class="error">There was an error processing your submission. Please try disabling any adblockers and resubmitting, or use our <a href="https://docs.google.com/forms/d/e/1FAIpQLSeOUginutSL90SKyznZqquKLLQS6ARqUFuVTXoXYv_QVOD4Dw/viewform?usp=sf_link">google form</a>.</div>
  <div class="success">Thanks for signing up! We'll let you know how you can get involved.</div>
  <form id="volunteer-form" class="volunteer-form">
    <label for="volunteer-name">Name</label>
    <input type="text" name="name" id="volunteer-name" class="full" required>
    <label for="volunteer-email">Email</label>
    <input type="email" name="email" id="volunteer-email" class="full" required>
    <label for="volunteer-phone">Phone</label>
    <input type="tel" name="phone" id="volunteer-phone" class="full" required>
    <label for="volunteer-zip">Zip</label>
    <input type="text" name="zip" id="volunteer-zip" class="half" pattern="[0-9]{5}">
    <button type="submit" href="#" class="submit button">Get involved</button>
  </form>
</div>
