/*
red: #d4232b
*/

.bg-image {
  height: 100%;
  position: relative;
  z-index: -1;
}

.logo {
  width: 50%;
  float: right;
  position: absolute;
  top: 3rem;
  right: 0px;
}

.landing-info {
  width: 40%;
  float: right;
  position: absolute;
  top: 11rem;
  right: 0px;
  background-color: white;
  padding: 1.2em;
  opacity: 0.9;
}

p {
  font-size: 13px;
}

h2 {
  font-size: 25px;
  font-weight: 700;
  margin-top: 15px;
}

input {
  border-radius:.75em;
  box-shadow: none;
}

.form-group {
  width: 100%;
  margin-bottom: .6rem;
}

.button {
  display:inline-block;
  padding:0.5em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:.75em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight:600;
  color:#FFFFFF;
  background-color:#d4232b;
  text-align:center;
  transition: all 0.5s;
}

.button:hover {
  background-color:#94181e;
  text-decoration: none;
  color:#FFFFFF;
}

.contribute {
  width: 100%;
}

.submit {
  float: right;
}

.volunteer-form-container .error,
.volunteer-form-container .success {
  display: none;
  font-size: 13px;
  font-weight: 500;
}
