.signup {
  background: #F7F7F7;
  padding: 2em;
  height: 100%;

  @include media-breakpoint-up(md) {
    box-shadow: #cccccc -3px 3px 3px 1px;
  }

  .cta {
    color: $blue;
    margin-bottom: .5em;
  }

  .btn {
    font-size: 2rem;
    margin-left: auto;
    color: red;
    font-weight: bold;
    border: 1px solid $light-blue;
  }
}
