.signup {
  background: #F7F7F7;
  padding: 2em;

  @include media-breakpoint-up(md) {
    box-shadow: #cccccc -3px 3px 3px 1px;
  }

  .required {
    &:after {
      margin-left: 5px;
      content: "*";
      color: $red;
    }
  }

  label {
    margin-top: .75em;
  }
  @include media-breakpoint-up(lg) {
    label {
      margin-top: 0;
    }

    .cta {
      margin-bottom: .75em;
    }
  }

  .cta {
    color: $blue;
  }

  .btn {
    font-size: 1.3rem;
    margin-left: auto;
    font-weight: 500;
    background: $red;
  }
}
