.page-home {

  .headshot {
    figure {
      overflow: hidden;

      img {
        margin-top: -28%;
      }
    }
  }
  .image-container {
    max-width: 1350px;

    .img-fluid {
      padding: 0;
    }
  }

  .signup {
    margin-top: 1em;
  }

  main p {
    line-height: 1.5rem;
  }

  h4 {
    color: $red;
  }

  @include media-breakpoint-up(md) {
    h4 {
      color: $blue;
    }

    .signup {
      margin-top: -40%;
    }

    .image-container {
      .img-fluid {
        padding: 1em 0 1em 1em;
      }
    }

    .tagline {
      font-size: 2.5rem;
      margin-bottom: .5em;
    }

    main p {
      font-size: 1rem;
      line-height: 1.7rem;
    }

    .headshot {

      figure {
        overflow: hidden;

        img {
          margin-top: 0;
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    main .wordmark svg {
      margin-top: -30px;
    }
  }
}
