.page-home {
  .headshot {
    figure {
      overflow: hidden;

      img {
        margin-top: -28%;
      }
    }
  }

  .tagline {
    margin-top: -2em;
    margin-bottom: 1em;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
    color: black;
    font-family: $font-family-base;
    white-space: nowrap;
  }

  main p {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  main .wordmark {
    overflow: hidden;
    margin-bottom: 1.5em;

    svg {
      margin-top: -20px;
    }
  }

  @include media-breakpoint-up(sm) {
    .tagline {
      font-size: 4rem;
    }
  }
  @include media-breakpoint-up(md) {
    .tagline {
      font-size: 3rem;
      text-align: left;
      margin-top: 0;
      margin-bottom: .5em;
    }

    main p {
      font-size: 1rem;
      line-height: 1.7rem;
    }

    .headshot {

      figure {
        overflow: hidden;

        img {
          margin-top: 0;
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    main .wordmark svg {
      margin-top: -30px;
    }
  }
}
