.issues-content {
  position: relative;
}

.issues-sidebar {
  position: fixed;
  top: 20%;

  .navbar {
    border-right: 1px solid black;
  }

  .nav-item {
    font-family: $font-family-sans-serif;
    font-size: 1.4em;
    padding-bottom: .8rem;

    &.active {
      color: white;
      background-color: $dark-blue;
      border-radius: .25rem;
    }
  }
}
