// .page-issues {
//   .title {
//     text-transform: uppercase;
//     color: $red;

//   }
// }

.issues-content {
  position: relative;

  h2 {
    padding: 1rem 0;
  }

  figure:not(:first-child) {
    padding-top: 2rem;
  }
}

.issues-sidebar {
  position: fixed;
  top: 20%;

  .navbar {
    border-right: 1px solid black;
  }

  .nav-item {
    font-family: $font-family-sans-serif;
    font-size: 1.4em;
    padding-bottom: .8rem;

    &.active {
      color: white;
      background-color: $dark-blue;
      border-radius: .25rem;
    }
  }
}
