.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar {

  .navbar-brand {
    width: 70%;
  }
  .navbar-nav {
    .nav-link.nav-item {
      font-family: $font-family-sans-serif;
    }
  }

  @include media-breakpoint-up(md) {
    $navbar-height: 95px;
    $border-height: 5px;
    border-bottom: $border-height solid $secondary;
    height: $navbar-height + $border-height;

    .navbar-brand {
      width: 100px;
    }

    .navbar-collapse {
      height: 100%;

      .navbar-nav {
        height: 100%;

        .nav-link {
          line-height: $navbar-height;

          // Donate button
          &:last-child {
            background: $dark;

            &:hover,
            &:active {
              background: $dark;
            }
          }

          &.active,
          &:hover,
          &:active {
            color: white;
            background: rgba(0,0,0,0.2);
          }
        }
      }
    }
  }
}
