$navbar-height: 85px;
$navbar-border-height: 6px;

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar.top-nav {
  padding: 0;

  .logo .bg {
    fill: none;
  }

  .wordmark {
    .name {
      fill: $light-blue;
    }

    .letter-fill {
      fill: white;
    }
  }

  .navbar-brand {
    width: 70%;
  }
  .navbar-nav {
    background:white;
    border: 3px solid $blue;

    .nav-link.nav-item {
      font-family: $font-family-sans-serif;
      padding: 10px 20px;
      color: $dark-blue;
      font-size: 1.3em;
      margin: 0;
      white-space: nowrap;

      &:hover,
      &:active,
      &.active {
        background: lighten($light-blue, 25);
      }
    }
  }

  @include media-breakpoint-up(md) {
    border-bottom: $navbar-border-height solid $secondary;
    height: $navbar-height + $navbar-border-height;
    padding: 0.5rem 1rem;

    .navbar-brand {
      width: 40%;
      min-width: 300px;
    }

    .navbar-collapse {
      height: 100%;

      .navbar-nav {
        background: none;
        border: none;
        height: 100%;

        .nav-link {
          color: white;
          line-height: $navbar-height;

          // Donate button
          &:last-child {
            background: $dark;
            font-size: 2em;

            &:hover,
            &:active {
              background: darken($dark, 10);
            }
          }

          &.active,
          &:hover,
          &:active {
            color: white;
            background: rgba(0,0,0,0.2);
            transition: all .3s;
          }
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    .navbar-brand {
      width: 40%;
      min-width: 382px;
    }
  }
}
