<footer class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-8">
      <p class="small text-center">Paid for and authorized by Neighbors for Hilario Dominguez. A copy of our report filed with the State Board of Elections is (or will be) available on the Board’s official website&nbsp;(<a href="www.elections.il.gov">www.elections.il.gov</a>) or for purchase from the State Board of Elections, Springfield, Illinois. Contributions to Neighbors for Hilario Dominguez are not tax deductible.</p>
    </div>
  </div>
</footer>
{{ $jquery := resources.Get "vendor/jquery-3.3.1.min.js" }}
<script src="{{ $jquery.Permalink }}"></script>
{{ $bootstrap := resources.Get "vendor/bootstrap/js/bootstrap.bundle.min.js" }}
<script src="{{ $bootstrap.Permalink }}"></script>
{{ $app := resources.Get "js/app.js" | minify | fingerprint }}
<script src="{{ $app.RelPermalink }}"></script>
</body>

</html>
