<footer class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-8">
      {{ partial "footer-text" . }}
    </div>
  </div>
</footer>
{{ $jquery := resources.Get "vendor/jquery-3.3.1.min.js" }}
<script src="{{ $jquery.Permalink }}"></script>
{{ $bootstrap := resources.Get "vendor/bootstrap/js/bootstrap.bundle.min.js" }}
<script src="{{ $bootstrap.Permalink }}"></script>
{{ $app := resources.Get "js/app.js" | minify | fingerprint }}
<script src="{{ $app.RelPermalink }}"></script>
</body>

</html>
