<p class="text-center">
  <a href="https://twitter.com/hilariofor25">{{ partial "twitter" . }}</a>
  <a href="https://twitter.com/hilariofor25">{{ partial "facebook" . }}</a>
  <a href="https://twitter.com/hilariofor25">{{ partial "instagram" . }}</a>
</p>

<p class="text-center"><b>hilariodominguezfor25@gmail.com</b><br />
  <i>1854 West 18th Street, Chicago IL, 60608</i>
</p>

<p class="small text-center">Paid for and authorized by Neighbors for Hilario Dominguez. A copy of our report filed with the State Board of Elections is (or will be) available on the Board’s official website&nbsp;(<a href="https://www.elections.il.gov">www.elections.il.gov</a>) or for purchase from the State Board of Elections, Springfield, Illinois. Contributions to Neighbors for Hilario Dominguez are not tax deductible.</p>
