<form action="" class="signup d-flex flex-column justify-content-between">
  <h3>Will you join us?</h3>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" required>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
  </div>
  <div class="form-group">
    <label for="allow-email">I agree to receive emails from Hilario for 25</label>
    <input type="checkbox" name="allow-email" id="allow-email" checked required>
  </div>
  <button class="btn h1" type="submit">Sign Up</button>
</form>
