<head>
  <title>{{ if .Title }}{{ .Title }} | {{ end }}Hilario for 25</title>

  <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700|Roboto:500,700" rel="stylesheet">
  {{ if .Site.IsServer }}
    {{ $cssOpts := (dict "targetPath" "styles/styles.css" "enableSourceMap" true ) }}
    {{ $styles := resources.Get "styles/styles.scss" | toCSS $cssOpts }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">
  {{ else }}
    {{ $cssOpts := (dict "outputStyle" "compressed" "targetPath" "styles/styles.css" ) }}
    {{ $styles := resources.Get "styles/styles.scss" | toCSS $cssOpts | postCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">
  {{ end }}

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
