{{ $src := ($.context.Site.GetPage "section" "uploads" ).Resources.GetMatch .name }}
{{ $sizesLen := len .context.Site.Params.sizes }}
<figure>
  <img
    srcset="{{ range $i, $size := .context.Site.Params.sizes }}{{ ($src.Resize (printf "%v%v" $size "x")).RelPermalink }} {{ $size }}w{{ if sub $sizesLen (add 1 $i) }},{{ end }}{{ end }}"
    src="{{ $src.RelPermalink }}" alt="{{ .alt }}" class="img-fluid"/>
{{ if .caption }}
  <figcaption>
    <h4>{{ .caption }}</h4>
  </figcaption>
{{ end }}
</figure>
