{{ define "main" }}
<main class="container p-0">
  <div class="row mt-3 mt-md-0 mx-0">
    <div class="col-12 image-container p-0">
      {{ partial "responsive-image" (dict "context" . "alt" .Params.alt "name" .Params.image) }}
    </div>
  </div>
  <div class="row m-0 px-3">
    <div class="col-12 col-md-6 px-4 pl-md-5 pr-md-4 pl-xxl-5 ml-xxl-5">
      <h2 class="tagline">{{ .Site.Params.tagline }}</h2>
      {{ .Content }}
    </div>
    <div class="col-12 col-md-6 ml-xxl-5 col-xxl-5">
      {{ partial "form" . }}
    </div>
  </div>
</main>
{{ end }}
