{% include head.html %}
{% responsive_image_block %}
  path: "uploads/landing-bg.jpg"
  class: "bg-image"
{% endresponsive_image_block %}

<div class="container">
<div class="row justify-content-end">
  <div class="col-md-7 logo">
  {% include logo.html %}
  </div>
  {% responsive_image_block %}
    path: "uploads/landing-bg.jpg"
    class: "bg-image-mobile"
  {% endresponsive_image_block %}
</div>

<div class="row justify-content-end">
  <div class="col-md-6 landing-info">
    <a href="https://secure.actblue.com/donate/hilariofor25" class="contribute button">Support the campaign</a>
    <h2 id="tagline">{{ site.tagline }}</h2>
    <p class="platform">{{ content }}</p>
    {% include form.html %}
  </div>
</div>
</div>

{% include footer.html %}
