{{ define "main" }}
  <main class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div id="issues-sidebar" class="position-fixed">
          <nav class="navbar nav navbar-light bg-light fixed flex-column">
            {{ range .Pages }}
              <a href="#{{ .Params.anchor }}" class="nav-link nav-item">{{ title .Params.anchor }}</a>
            {{ end }}
          </nav>
        </div>
      </div>
      <div class="col-md-9">
        <div data-spy="scroll" data-target="#issues-sidebar" data-offset="0">
          {{ range .Pages }}
            <h2 id={{ .Params.anchor }}>{{ .Title }}</h2>
            {{ .Content }}
          {{ end }}
        </div>
      </div>
    </div>
  </main>
{{ end }}
