{{ define "main" }}
  <main class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div id="issues-sidebar" class="issues-sidebar mt-3 d-none d-lg-block">
          <nav class="navbar nav navbar-light bg-light fixed flex-column flex-nowrap align-items-end">
            {{ $first := index .Pages 0 }}
            {{ range .Pages }}
              <a href="#{{ .Params.anchor }}" class="nav-link nav-item text-right{{ if eq . $first }} active{{ end }}">{{ .Title }}</a>
            {{ end }}
          </nav>
        </div>
      </div>

      <div class="col-lg-8 col-12">
        <div class="issues-content p-3">
          {{ range .Pages }}
            {{ partial "responsive-image" (dict "context" $ "alt" "" "name" .Params.image) }}
            <h2 id={{ .Params.anchor }}>{{ .Title }}</h2>
            {{ .Content }}
          {{ end }}
          <br />
          {{ partial "footer-text" . }}
        </div>
      </div>

    </div>
  </main>
{{ end }}
