{{ define "main" }}
  <main class="container-fluid">
    <div class="row p-5">
      <div class="col-12 col-md-6">
        <div class="row mb-4">
          {{ partial "campaign-video" . }}
        </div>
        <div class="row d-none d-md-block">
          {{ partial "responsive-image" (dict "context" . "name" "hilario.jpg" "alt" "Hilario Dominguez in Pilsen") }}
        </div>
        <div class="row d-none d-md-block d-lg-none">
          {{ partial "responsive-image" (dict "context" . "name" "hilario-handshake.jpg" "alt" "Hilario Dominguez shaking a constituent's hand") }}
        </div>
      </div>
      <div class="col-12 col-md-6 about">
          <h1>My name is Hilario Dominguez. I am…</h1>
          {{ .Content }}
      </div>
    </div>
  </main>
{{ end }}
